{% extends "base.html" %}

{% block title%}This is You in the System{%endblock%}



{%block content%}

<h1>This is You in our System</h1>
<br>
<div>
  {% if message %}
<div class="alert alert-warning mb-3" role="alert">
	{{message}}
</div>
{% endif %}
{% if posts%}
<table class="table-bordered table-sm">
  <tr><td name='date'>Date</td><td name='fullname'>Post Heading</td></tr>
{% for post in posts%}
  <tr>
    <td>{{post.dt}}</td>
    <td>{{post.post_heading}}</td>
    <td><a class="btn btn-success" role='button' href={{'/post/'+post.id | string}}>Open</a></td>
  </tr>

  {% endfor %}
</table>
{% endif %}
</div>
{%endblock%}

{%block login %} <a class="btn btn-success" href="/logout" role="button">Logout</a>
{%endblock%}

{% block nav_menuitem%}
<li class="nav-item dropdown">
	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
	  My Account
	</a>
	<ul class="dropdown-menu">
	  <li><a class="dropdown-item" href="/myprofile">My Profile</a></li>
	  <li><a class="dropdown-item" href="/changepwd">Change Password</a></li>
	  <li><hr class="dropdown-divider"></li>
	  <li><a class="dropdown-item" href="/logout">Logout</a></li>
	</ul>
</li>
{%endblock%}