{% extends "base.html" %}

{% block title%}This is You in the System{%endblock%}



{%block content%}

<h1>This is You in our System</h1>

<div>
<table>
  <tr>
    <td>Username</td>
    <td>{% if profile %}{{profile.username}}{% else %}N/A{%endif%}</td>
  </tr>
  <tr>
    <td>Full Name</td>
    <td>{% if profile %}{{profile.full_name}}{% else %}N/A{%endif%}</td>
  </tr>
  <tr>
    <td>Email</td>
    <td>{% if profile %}{{profile.email}}{% else %}N/A{%endif%}</td>
  </tr>
  <tr>
    <td><a class="btn btn-success" role='button' href='/changepwd'>Change Password</a></td>
  </tr>

</form>
{%endblock%}

{%block login %} <a class="btn btn-success" href="/auth" role="button">Login</a>
{%endblock%}