{% extends "base.html" %}

{% block title%}This is You in the System{%endblock%}



{%block content%}

<h1>This is You in our System</h1>
{% if profile %}{{profile.username}}{%endif%}
<br>
<div>
<table>
  <tr>
    <td>Username</td>
    <td>{% if profile %}{{profile.username}}{% else %}N/A{%endif%}</td>
  </tr>
  <tr>
    <td>Full Name</td>
    <td>{% if profile %}{{profile.full_name}}{% else %}N/A{%endif%}</td>
  </tr>
  <tr>
    <td>Email</td>
    <td>{% if profile %}{{profile.email}}{% else %}N/A{%endif%}</td>
  </tr>
  <tr>
    <td><a class="btn btn-success" role='button' href='/changepwd'>Change Password</a></td>
  </tr>

</table>
</div>
{%endblock%}

{%block login %} <a class="btn btn-success" href="/logout" role="button">Logout</a>
{%endblock%}

{% block nav_menuitem%}
<li class="nav-item dropdown">
	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
	  My Account
	</a>
	<ul class="dropdown-menu">
	  <li><a class="dropdown-item" href="/myprofile">My Profile</a></li>
	  <li><a class="dropdown-item" href="/changepwd">Change Password</a></li>
	  <li><hr class="dropdown-divider"></li>
	  <li><a class="dropdown-item" href="/logout">Logout</a></li>
	</ul>
</li>
{%endblock%}